# Virtual Environment
.venv/

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Packaging
*.egg-info/
build/
dist/

# Data folders (keep folder structure only)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/artifacts/*
!data/artifacts/.gitkeep
