# Virtual Environment
.venv/
backend/.venv/
backend/venv/

# Logs
logs/
*.log
backend/logs/

# Python cache
__pycache__/
*.pyc
backend/**/__pycache__/

# Packaging
*.egg-info/
build/
dist/
backend/*.egg-info/
backend/build/
backend/dist/


# Backend data folders (keep folder structure only)
backend/data/raw/*
!backend/data/raw/.gitkeep

backend/data/processed/*
!backend/data/processed/.gitkeep

backend/data/artifacts/*
!backend/data/artifacts/.gitkeep

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
backend/.env
